$Black: #323232;

$Instock-blue: #004892;

$Brainflix-blu: #0095ff;

$White: #ffffff;

$Silver: #afafaf;

$Instock-blue-dark: #002f5f;

$Brainflix-blue: #0065ad;

$Mercury: #e1e1e1;

$Alabaster: #fafafa;

$Black-opacity: #323232;
